@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  list-style-type: none;
}
body {
  background-color: aliceblue;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 90vh;
}

/* navbar */
.nav-bar {
  background-color: grey;
  width: 15%;
}
.nav-bar ul li {
  margin: 1rem 0rem 1rem 1.1rem;
  text-align: left;
}
/*   end of navbar */

.main-info {
  background-color: white;
  width: 100%;
}
.header-text {
  font-size: 2.5rem;
  background-color: grey;
  margin: 1rem 0rem 0rem 1rem;
}

/* article 1 &2 */

.article-info {
  background-color: grey;
  margin: 1.5rem 1rem 0rem 1rem;
  height: 250px;
  padding: 1rem;
}
.article-info h2,
h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

.article-info p {
  margin-top: 1.5rem;
  font-weight: 300;
  max-width: 45ch;
}
/* about our authors */

.author {
  background-color: grey;
  margin: 1.5rem 1rem 0rem 1rem;
  padding: 1rem;
}

/* right side links */
.links {
  background-color: grey;
  width: 25%;
}

.links h2 {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 1.5rem;
}

.links p {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 0.2rem;
  font-weight: 600;
}

.links a {
  padding: 14px 50px;
  text-align: center;
}

/* contact info footer */

#footer-info {
  text-align: center;
  margin-top: 1rem;
}
